
@model IEnumerable<Agent.Models.PersonInfo>
@{
    ViewData["Title"] = "Account Page";
}

@if (User.Identity.IsAuthenticated && (User.IsInRole(RoleSeed.Admin.ToString())))
{
    <h1>Account</h1>
    <div>
        <p>
            <a href="~/Identity/Account/Register">Register</a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    UserId
                </th>
                <th>
                    UserName
                </th>
                <th>
                    Role
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <!--
                        <a asp-route-id="@item.UserId">Edit</a> |
                        <a asp-route-id="@item.UserId">Details</a> |
                        -->
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
